

body {
    margin: 0px;
    background: white;
    font-size: 15px;
    line-height: 1.6;
    color: #272727;
    font-family: "Gotham Book";
}

h1,h2,h3,h4,h5,p {
     font-family: "Gotham Book";
    font-weight: normal;
    margin: 1.05em 0em;
}

a {
    text-decoration: none;
    color: #272727;
   
}


p {
         margin-bottom: 2em;
    opacity: 0.75;
    max-width: 341px;
    margin-left: auto;
    margin-right: auto;
}


.header {
    max-width: 1120px;
    justify-content: space-between;
    margin: 0 auto;
    display: flex;
    margin-top: 62px;
    height: 49px;
    padding: 0px 25px;
}

.header a {
    z-index: 2000;
}

.headerMid {
    width: 360px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    z-index: 1000;
}

.headerMid a {
    z-index: 1000;
}

.headerMidCenter {
    position: absolute;
    width: 100%;
    height: 49px;
    display: block;
}

@media screen and (max-width: 768px) {
    .headerMidCenter {
        display: none;
    }
}

.headerMid a {
    padding: 15px 0px;
}

.button {
    border: 1px solid #E2E2E2;
    padding: 12px 31px 11px;
    border-radius: 5px;
}


.button.app-store::before, .button.play-store::before {
    content: "";
    min-width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: auto 30px;
    margin-right: 8px;
}

.button.app-store::before {
    background-image: url(../images/apple-icon.svg);
}

.button.play-store::before {
    background-image: url(../images/google-play-icon.svg);
}

.app-store {
    position: relative;
    display: inline-flex;
    line-height: 33px;
    padding: 12px 31px 12px 28px;
    margin-right: 5px;
}

.play-store {
    position: relative;
    display: inline-flex;
    line-height: 32px;
    padding: 12px 31px 12px 28px;
    margin-left: 5px;
}


.content {
        max-width: 1000px;
    margin: 0 auto;
    margin-top: 68px;
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 88px;
    text-align: center;
}

.content section {
    margin-top: 130px;
}

.cryptoapp {
           display: block;
    width: -webkit-fill-available;
    height: auto;
    margin: 0 auto;
    margin-bottom: 102px;
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    padding: 0px 7px;
    max-width: 398px;
}

.tapandpay {
    width: 251px;
    position: relative;
    left: -3%;
}

.cryptoboxsend {
    width: 757px;
    height: auto;
}

.cryptoecosystem {
    width: 401px;
    height: auto;
    left: -3px;
    position: relative;
}

.rfidcard {
    width: 271px;
}


input[type=text] {
        border: 1px solid #e2e2e2;
    border-radius: 4px;
    display: block;
    font-size: 17px;
    color: #333;
    width: 100%;
    padding: 22px 17px;
    width: 383px;
    margin: 0 auto;
    margin-top: 23px;
    text-align: center;
    background: #fafafa;
    -webkit-appearance: none;
}


.footerMid {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 80px 0px 80px;
}

